body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  button {
    margin-top: 5px;
    padding: 5px ;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  .bottom {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    word-wrap: break-word;
  }